[logger]
level = INFO

[routing:cluster1_ro]
bind_address = 127.0.0.1
bind_port = 7001
destinations = mysql1:3306,mysql2:3306,mysql3:3306
routing_strategy = round-robin

[routing:cluster1_rw]
bind_address = 127.0.0.1
bind_port = 7002
destinations = mysql1:3306,mysql2:3306
routing_strategy = first-available
