# GitHub Code Owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for all files
* @utdrmac @igroene @michaelcoburn
