---
# Tasks common to all mysql servers

- name: Add .my.cnf
  tags: add_dot_my_cnf
  template: src=dotmydotcnf.j2 dest={{ item.path }} owner={{ item.owner }}
  with_items:
  - { path: /root/.my.cnf, owner: root }
  - { path: /home/ec2-user/.my.cnf, owner: ec2-user }
