---
# Tasks common to all linux hosts

- name: Set hostname
  hostname: name={{ machinetype }}-{{ team }}

- name: Update etc-hosts
  template: src=hosts.j2 dest=/etc/hosts

- name: Remove motd
  shell: >
    if [[ -e /etc/motd.d/cockpit ]]; then
      rm -f /etc/motd.d/cockpit
      ln -s /dev/null /etc/motd.d/cockpit
    fi

- name: Update packages
  dnf:
    state: latest
    name:
      - ca-certificates
      - dnf-plugin-versionlock
      - openssh
      - openssh-server

- name: Disable iptables
  systemd:
    state: stopped
    name: iptables
