---
# Tasks common to all minikube hosts

- name: download kubectl
  get_url:
    url: https://dl.k8s.io/release/v1.31.0/bin/linux/amd64/kubectl
    dest: /usr/local/bin/kubectl
    mode: 0755

- name: download minikube
  get_url:
    url: https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
    dest: /usr/local/bin/minikube
    mode: 0755

- name: add docker repo
  yum_repository:
    name: Docker-CE
    description: Docker CE Stable
    baseurl: https://download.docker.com/linux/centos/{{ ansible_facts['distribution_major_version'] }}/$basearch/stable
    gpgcheck: 1
    gpgkey:
      - https://download.docker.com/linux/centos/gpg

- name: yum install docker, lvm2, device-mapper
  yum:
    state: present
    update_cache: yes
    name:
      - device-mapper-persistent-data
      - lvm2
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - conntrack-tools

- name: enable docker
  systemd:
    enabled: yes
    name: docker.service

- name: restart docker
  systemd:
    state: restarted
    name: docker

- name: Install crictl to /usr/local/bin and link to /usr/bin
  shell: |
    # Download if not exists
    if [ ! -f /usr/local/bin/crictl ]; then
      curl -L https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.28.0/crictl-v1.28.0-linux-amd64.tar.gz -o /tmp/crictl.tar.gz
      tar -xzf /tmp/crictl.tar.gz -C /usr/local/bin/
      chmod +x /usr/local/bin/crictl
    fi

    # Create symlink in /usr/bin
    ln -sf /usr/local/bin/crictl /usr/bin/crictl
  become: yes

- name: create /root/.minikube/config
  file:
    path: /root/.minikube/config
    state: directory

- name: configure minikube
  copy:
    src: minikube-config.json
    dest: /root/.minikube/config/config.json

- name: start minikube
  command: /usr/local/bin/minikube start --driver=docker --kubernetes-version=v1.28.0 --force
  args:
    creates: /root/.minikube/client.crt
